.splitdiv {
	height:100%;
	width:101%;
	margin:auto;
	margin-top:-5px;
	margin-bottom:0px;
	border:0px;	
}
.splitdiv div {
	overflow:auto;
	padding:0px;
	margin:0px;
}
.splitdiv .leftdiv {
}
.splitdiv .rightdiv {
}
.vsplitbar {
	width:5px;
	background:#cab;
}
.splitdiv .vsplitbar {
	height:40px;
	background:#6BB8FF;
}
.splitdiv .vsplitbar.active, .splitdiv .vsplitbar.hover {	
	opacity:0.7;
	background: #e88;
}
.splitdiv .hsplitbar {
	height: 6px;
	background: #6BB8FF;
}
.splitdiv .hsplitbar.active, .splitdiv .hsplitbar:hover {
	background: #e88;
}
